@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- feature section S -->
<h2>Feature</h2>
@{
    // Get a random grocery item
    Random random = new Random();
    int randomIndex = random.Next(Model.Groceries.Count());
    var randomProduct = Model.Groceries.ElementAt(randomIndex);
    string randomimageSrc = "/uploads/" + randomProduct.ImageFileName;
    string randomProductUrl = "/Details/" + randomProduct.Id;
    string randomProductName = randomProduct.Name;
    string randomProductPrice = randomProduct.Price.ToString();
}
<div class="banner">
    <a asp-page="Details" asp-route-id="@randomProduct.Id">
    <img src="@randomimageSrc" class="img-fluid" />
    <!-- call to action -->
    <p class="btn btn-danger">Buy Now</p>
    </a>
</div>
<!-- feature section E -->

<!-- products list section S -->
<h2>Product List</h2>
<div class="row">
@for (int i = 1; i <= Model.Groceries.Count(); i++)
{

    string imageSrc = "/uploads/" + Model.Groceries.ElementAt(i-1).ImageFileName;

    // Output the individual card
    <div class="col-6 col-sm-6 col-xl-2">
        <a asp-page="Details" asp-route-id="@Model.Groceries.ElementAt(i-1).Id"><img src="@imageSrc" class="img-fluid" /></a>
        <p>$@Model.Groceries.ElementAt(i-1).Price</p>
        <a asp-page="Details" asp-route-id="@Model.Groceries.ElementAt(i-1).Id"><p>@Model.Groceries.ElementAt(i-1).Name</p></a>
    </div>

    // Close the individual row
    if(i % 6 == 0)
    {
        @:</div><div class="row">
    }


    // Close the last row
    if(i == Model.Groceries.Count())
    {
        @:</div class="row"> 
    }

}
<!-- products list section E -->