@page
@model Groceries.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grocery</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grocery.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grocery.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grocery.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grocery.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grocery.ImageFileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grocery.ImageFileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grocery.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grocery.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grocery.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grocery.PublishDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Grocery.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
